[Desktop Entry]
Name=Snapdrop
Exec=bash -c "cd /opt/snapdrop && docker compose up & xdg-open 'http://localhost:8080'"
Icon=snapdrop1
Terminal=true
Type=Application